In [1]:
import pandas as pd
import numpy as np
import os
import datetime
from datetime import date, datetime

In [2]:
#variável onde estão os dados a serem inseridos na tabela
arquivo = 'base_dados_desafio_modulo2/dados_jogadores.csv'
dados_jogadores = pd.read_csv(arquivo, sep = ';')

In [3]:
dados_jogadores

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
0,jogador 1,Masculino,03/09/1990,Dama,Chile,14.0,0.0,14.0
1,Jogador 2,Feminino,01/05/1986,Jogo da velha,Chile,39.0,20.0,59.0
2,Jogador 3,Masculino,04/10/1964,Jogo da velha,Brasil,26.0,3.0,29.0
3,Jogador 4,Masculino,28/09/1979,Jogo da velha,Argentina,9.0,72.0,81.0
4,Jogador 5,Masculino,03/09/1978,Dama,Uruguai,1.0,54.0,55.0
...,...,...,...,...,...,...,...,...
494,Jogador 495,Feminino,03/06/1974,Dama,Chile,52.0,28.0,80.0
495,Jogador 496,Masculino,09/02/1959,Dama,Chile,13.0,51.0,64.0
496,Jogador 497,Masculino,06/01/1962,Jogo da velha,Argentina,57.0,NaN,80.0
497,Jogador 498,Masculino,28/09/1958,Jogo da velha,Chile,5.0,3.0,8.0
498,Jogador 499,Feminino,08/10/2004,Jogo da velha,Paraguai,1.0,86.0,87.0

In [4]:
# removendo valores duplicados
dados_jogadores = dados_jogadores[['jogador', 'genero', 'data_nascimento', 'jogo', 'pais', 'num_vitorias', 'num_derrotas', 'total_partidas']].drop_duplicates()

In [5]:
dados_jogadores

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
0,jogador 1,Masculino,03/09/1990,Dama,Chile,14.0,0.0,14.0
1,Jogador 2,Feminino,01/05/1986,Jogo da velha,Chile,39.0,20.0,59.0
2,Jogador 3,Masculino,04/10/1964,Jogo da velha,Brasil,26.0,3.0,29.0
3,Jogador 4,Masculino,28/09/1979,Jogo da velha,Argentina,9.0,72.0,81.0
4,Jogador 5,Masculino,03/09/1978,Dama,Uruguai,1.0,54.0,55.0
...,...,...,...,...,...,...,...,...
494,Jogador 495,Feminino,03/06/1974,Dama,Chile,52.0,28.0,80.0
495,Jogador 496,Masculino,09/02/1959,Dama,Chile,13.0,51.0,64.0
496,Jogador 497,Masculino,06/01/1962,Jogo da velha,Argentina,57.0,NaN,80.0
497,Jogador 498,Masculino,28/09/1958,Jogo da velha,Chile,5.0,3.0,8.0
498,Jogador 499,Feminino,08/10/2004,Jogo da velha,Paraguai,1.0,86.0,87.0

In [6]:
# verificando valores nulos
dados_jogadores.isna().sum()

jogador            0
genero             0
data_nascimento    0
jogo               0
pais               0
num_vitorias       8
num_derrotas       5
total_partidas     8
dtype: int64

In [26]:
# verifica valores ausentes das colunas
dados_jogadores.isnull().sum()

jogador            0
genero             0
data_nascimento    0
jogo               0
pais               0
num_vitorias       0
num_derrotas       0
total_partidas     0
dtype: int64

In [27]:
# verifica todos os dados não ausentes
dados_jogadores.notnull().sum()

jogador            478
genero             478
data_nascimento    478
jogo               478
pais               478
num_vitorias       478
num_derrotas       478
total_partidas     478
dtype: int64

In [7]:
# removendo dados nulos das colunas
dados_jogadores.dropna(subset=['num_vitorias', 'num_derrotas', 'total_partidas'], inplace=True)

In [8]:
# verificando se ainda existem valores nulos na tabela
dados_jogadores.isna().sum()

jogador            0
genero             0
data_nascimento    0
jogo               0
pais               0
num_vitorias       0
num_derrotas       0
total_partidas     0
dtype: int64

In [9]:
# com dados nulos ainda nã oremovidos temos 499 rows × 8 columns
dados_jogadores

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
0,jogador 1,Masculino,03/09/1990,Dama,Chile,14.0,0.0,14.0
1,Jogador 2,Feminino,01/05/1986,Jogo da velha,Chile,39.0,20.0,59.0
2,Jogador 3,Masculino,04/10/1964,Jogo da velha,Brasil,26.0,3.0,29.0
3,Jogador 4,Masculino,28/09/1979,Jogo da velha,Argentina,9.0,72.0,81.0
4,Jogador 5,Masculino,03/09/1978,Dama,Uruguai,1.0,54.0,55.0
...,...,...,...,...,...,...,...,...
493,Jogador 494,Feminino,07/11/1977,Dama,Uruguai,31.0,11.0,42.0
494,Jogador 495,Feminino,03/06/1974,Dama,Chile,52.0,28.0,80.0
495,Jogador 496,Masculino,09/02/1959,Dama,Chile,13.0,51.0,64.0
497,Jogador 498,Masculino,28/09/1958,Jogo da velha,Chile,5.0,3.0,8.0
498,Jogador 499,Feminino,08/10/2004,Jogo da velha,Paraguai,1.0,86.0,87.0

In [10]:
import sqlalchemy
import MySQLdb

In [11]:
# criando a conexão com o banco de dados
# OBS: essas informações sempre ficam encapsuladas. Está sendo feito aqui para fim didático
user = 'root'
password = 'root'
host = '127.0.0.1' # local do host
port = '3307' # port
database = 'data_players' # schema criado no mysql workbanch

string_conexao = f'mysql://{user}:{password}@{host}:{port}/{database}'
string_conexao

'mysql://root:root@127.0.0.1:3307/data_players'

In [12]:
engine = sqlalchemy.create_engine(string_conexao)
conn = engine.connect()

In [13]:
dados_jogadores

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
0,jogador 1,Masculino,03/09/1990,Dama,Chile,14.0,0.0,14.0
1,Jogador 2,Feminino,01/05/1986,Jogo da velha,Chile,39.0,20.0,59.0
2,Jogador 3,Masculino,04/10/1964,Jogo da velha,Brasil,26.0,3.0,29.0
3,Jogador 4,Masculino,28/09/1979,Jogo da velha,Argentina,9.0,72.0,81.0
4,Jogador 5,Masculino,03/09/1978,Dama,Uruguai,1.0,54.0,55.0
...,...,...,...,...,...,...,...,...
493,Jogador 494,Feminino,07/11/1977,Dama,Uruguai,31.0,11.0,42.0
494,Jogador 495,Feminino,03/06/1974,Dama,Chile,52.0,28.0,80.0
495,Jogador 496,Masculino,09/02/1959,Dama,Chile,13.0,51.0,64.0
497,Jogador 498,Masculino,28/09/1958,Jogo da velha,Chile,5.0,3.0,8.0
498,Jogador 499,Feminino,08/10/2004,Jogo da velha,Paraguai,1.0,86.0,87.0

In [14]:
# remove duplicidades da coluna jogo e salva numa variável separada
dados_jogadores_jogo = dados_jogadores[['jogo']].drop_duplicates();
dados_jogadores_jogo

            jogo
0           Dama
1  Jogo da velha
5         Xadrez

In [15]:
# remove duplicidades da coluna pais e salva numa variável separada
dados_jogadores_pais = dados_jogadores[['pais']].drop_duplicates();
dados_jogadores_pais

        pais
0      Chile
2     Brasil
3  Argentina
4    Uruguai
8   Paraguai

In [16]:
for jogo in dados_jogadores_jogo.itertuples():
    jog = jogo.jogo
    # print(jog) verifica saída dos jogos não duplicados
    try:
        sql = f"""INSERT INTO jogo (nome_jogo) VALUES ('{jog}')"""
        #print(sql) testanto a saída do sql
        conn.execute(sql)
    except Exception as e:
        print(f'Erro ao inserir na tabela pessoa: {e}')

IndentationError: unexpected indent (3313901164.py, line 2)

In [ ]:
for pais in dados_jogadores_pais.itertuples():
    paises = pais.pais
    # print(paises) verifica saída dos paises não duplicados
    try:
        sql = f"""INSERT INTO pais (nome_pais) VALUES ('{paises}')"""
        #print(sql) testanto a saída do sql
        conn.execute(sql)
    except Exception as e:
        print(f'Erro ao inserir na tabela pessoa: {e}')

In [ ]:
dados_jogadores

In [ ]:
# testando o formato da data
print(datetime.datetime.now().date())

In [ ]:
dados_jogadores

In [17]:
nome_jogador = dados_jogadores.jogador
nome_jogador.drop_duplicates()

0        jogador 1
1        Jogador 2
2        Jogador 3
3        Jogador 4
4        Jogador 5
          ...
493    Jogador 494
494    Jogador 495
495    Jogador 496
497    Jogador 498
498    Jogador 499
Name: jogador, Length: 478, dtype: object

In [18]:
#traz o código do pais do banco de dados
cod_pais = dados_jogadores.pais
cod_pais.drop_duplicates().reset_index(drop=True)

0        Chile
1       Brasil
2    Argentina
3      Uruguai
4     Paraguai
Name: pais, dtype: object

In [19]:
#traz o código do jogo do banco de dados
cod_jogo = dados_jogadores.jogo
cod_jogo.drop_duplicates().reset_index(drop=True)

0             Dama
1    Jogo da velha
2           Xadrez
Name: jogo, dtype: object

In [ ]:
dados_jogadores

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
0,jogador 1,Masculino,03/09/1990,Dama,Chile,14.0,0.0,14.0
1,Jogador 2,Feminino,01/05/1986,Jogo da velha,Chile,39.0,20.0,59.0
2,Jogador 3,Masculino,04/10/1964,Jogo da velha,Brasil,26.0,3.0,29.0
3,Jogador 4,Masculino,28/09/1979,Jogo da velha,Argentina,9.0,72.0,81.0
4,Jogador 5,Masculino,03/09/1978,Dama,Uruguai,1.0,54.0,55.0
...,...,...,...,...,...,...,...,...
493,Jogador 494,Feminino,07/11/1977,Dama,Uruguai,31.0,11.0,42.0
494,Jogador 495,Feminino,03/06/1974,Dama,Chile,52.0,28.0,80.0
495,Jogador 496,Masculino,09/02/1959,Dama,Chile,13.0,51.0,64.0
497,Jogador 498,Masculino,28/09/1958,Jogo da velha,Chile,5.0,3.0,8.0
498,Jogador 499,Feminino,08/10/2004,Jogo da velha,Paraguai,1.0,86.0,87.0

In [20]:
dados_jogadores_jogo = pd.read_sql('jogo', conn)

In [21]:
dict_jogo = dados_jogadores_jogo.set_index(dados_jogadores_jogo.nome_jogo)['cod_jogo'].to_dict()
dict_jogo

{'Dama': 1, 'Jogo da velha': 2, 'Xadrez': 3}

In [22]:
dados_jogadores_pais = pd.read_sql('pais', conn)

In [23]:
dict_pais = dados_jogadores_pais.set_index(dados_jogadores_pais.nome_pais)['cod_pais'].to_dict()
dict_pais

{'Chile': 1, 'Brasil': 2, 'Argentina': 3, 'Uruguai': 4, 'Paraguai': 5}

In [24]:
dados_jogadores.jogo = dados_jogadores.jogo.map(dict_jogo)
dados_jogadores

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
0,jogador 1,Masculino,03/09/1990,1,Chile,14.0,0.0,14.0
1,Jogador 2,Feminino,01/05/1986,2,Chile,39.0,20.0,59.0
2,Jogador 3,Masculino,04/10/1964,2,Brasil,26.0,3.0,29.0
3,Jogador 4,Masculino,28/09/1979,2,Argentina,9.0,72.0,81.0
4,Jogador 5,Masculino,03/09/1978,1,Uruguai,1.0,54.0,55.0
...,...,...,...,...,...,...,...,...
493,Jogador 494,Feminino,07/11/1977,1,Uruguai,31.0,11.0,42.0
494,Jogador 495,Feminino,03/06/1974,1,Chile,52.0,28.0,80.0
495,Jogador 496,Masculino,09/02/1959,1,Chile,13.0,51.0,64.0
497,Jogador 498,Masculino,28/09/1958,2,Chile,5.0,3.0,8.0
498,Jogador 499,Feminino,08/10/2004,2,Paraguai,1.0,86.0,87.0

In [25]:
dados_jogadores.pais = dados_jogadores.pais.map(dict_pais)
dados_jogadores

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
0,jogador 1,Masculino,03/09/1990,1,1,14.0,0.0,14.0
1,Jogador 2,Feminino,01/05/1986,2,1,39.0,20.0,59.0
2,Jogador 3,Masculino,04/10/1964,2,2,26.0,3.0,29.0
3,Jogador 4,Masculino,28/09/1979,2,3,9.0,72.0,81.0
4,Jogador 5,Masculino,03/09/1978,1,4,1.0,54.0,55.0
...,...,...,...,...,...,...,...,...
493,Jogador 494,Feminino,07/11/1977,1,4,31.0,11.0,42.0
494,Jogador 495,Feminino,03/06/1974,1,1,52.0,28.0,80.0
495,Jogador 496,Masculino,09/02/1959,1,1,13.0,51.0,64.0
497,Jogador 498,Masculino,28/09/1958,2,1,5.0,3.0,8.0
498,Jogador 499,Feminino,08/10/2004,2,5,1.0,86.0,87.0

In [ ]:
dados_jogadores

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
0,jogador 1,Masculino,03/09/1990,1,1,14.0,0.0,14.0
1,Jogador 2,Feminino,01/05/1986,2,1,39.0,20.0,59.0
2,Jogador 3,Masculino,04/10/1964,2,2,26.0,3.0,29.0
3,Jogador 4,Masculino,28/09/1979,2,3,9.0,72.0,81.0
4,Jogador 5,Masculino,03/09/1978,1,4,1.0,54.0,55.0
...,...,...,...,...,...,...,...,...
493,Jogador 494,Feminino,07/11/1977,1,4,31.0,11.0,42.0
494,Jogador 495,Feminino,03/06/1974,1,1,52.0,28.0,80.0
495,Jogador 496,Masculino,09/02/1959,1,1,13.0,51.0,64.0
497,Jogador 498,Masculino,28/09/1958,2,1,5.0,3.0,8.0
498,Jogador 499,Feminino,08/10/2004,2,5,1.0,86.0,87.0

In [ ]:
for dados in dados_jogadores.itertuples():
    #dados
    nom = dados.jogador
    gen = dados.genero
    dat_nasc = dados.data_nascimento
    num_vit = dados.num_vitorias
    num_der = dados.num_derrotas
    tot_part = dados.total_partidas
    cod_pa = dados.pais
    cod_jog = dados.jogo

    # transforma formato da data para Y-m-d
    dat_nasc = datetime.strptime(dat_nasc, '%d/%m/%Y').date()
    #print(dados)
    try:
        #FOREIGN KEY (`cod_pais`) REFERENCES `data_players`.`pais` (`cod_pais`), FOREIGN KEY (`cod_jogo`) REFERENCES `data_players`.`jogo` (`cod_jogo`)
        sql = f"""INSERT INTO jogador (nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo) VALUES ('{nom}', '{gen}', '{dat_nasc}', '{num_vit}', '{num_der}', '{tot_part}', '{cod_pa}', '{cod_jog}')"""
        #print(sql)
        conn.execute(sql)
    except Exception as e:
        print(f'Erro ao inserir na tabela jogador: {e}')